<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldx.front.mapper.HallMapper">

    <resultMap id="BaseResultMap" type="com.ldx.front.pojo.Hall">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="htype" column="htype" jdbcType="VARCHAR"/>
            <result property="seats" column="seats" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="cid" column="cid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,htype,
        seats,status,cid
    </sql>
</mapper>
