<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldx.front.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.ldx.front.pojo.Log">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="opname" column="opname" jdbcType="VARCHAR"/>
            <result property="optime" column="optime" jdbcType="TIMESTAMP"/>
            <result property="aid" column="aid" jdbcType="INTEGER"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,opname,optime,
        aid,ip
    </sql>
</mapper>
