<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldx.front.mapper.TypeMapper">

    <resultMap id="BaseResultMap" type="com.ldx.front.pojo.Type">
        <result property="typeinfo" column="typeInfo" jdbcType="VARCHAR"/>
        <collection property="typeDetail" ofType="com.ldx.front.pojo.Tyinfo">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="ttype" column="type" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,typeInfo,did
    </sql>
    <select id="getAllTypes" resultMap="BaseResultMap">
        SELECT t.typeInfo,y.type,y.id  from type t, tyinfo y WHERE t.did = y.tid
    </select>
</mapper>
